<h1 class="text-center mb-3" *ngIf="vehical.id">Update Vehicle</h1>
<h1 class="text-center mb-3" *ngIf="!vehical.id">New Vehicle</h1>

<div class="card card-body bg-light">
  <form action="" (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
    <div class="form-group col-xs-6">
      <label for="makes">Make</label>
      <select class="form-control" required name="make" #make="ngModel" id="makes" (change)="onMakeChange()" [(ngModel)]="selectedMake">
        <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
      </select>
      <div class="alert alert-danger mt-1" *ngIf="make.touched && !make.valid">Please specify make</div>
    </div>

    <div class="form-group">
      <label for="models">Model</label>
      <select required #model="ngModel" class="form-control" name="models" id="models" [(ngModel)]="vehical.modelId">
        <option value=""></option>
        <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
      </select>
      <div class="alert alert-danger mt-1" *ngIf="model.touched && !model.valid">Please specify model</div>
    </div>
    <p>Is this vehicle registered?</p>
    <label for="registered" class="radio-inline">
      <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehical.isRegistered" /> Yes
    </label>
    <label for="notRegistered" class="radio-inline ml-2">
      <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehical.isRegistered" /> No
    </label>
    <h2>Features</h2>
    <div *ngFor="let f of features" class="checkbox">
      <label for="feature{{ f.id }}">
        <input
          [checked]="vehical.features.includes(f.id)"
          type="checkbox"
          (change)="onToggleFeature(f.id, $event)"
          id="feature{{ f.id }}"
        />
        {{ f.name }}
      </label>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
      <label for="contactName">Name</label>
      <input
        required
        #name="ngModel"
        id="contactName"
        name="contactName"
        [(ngModel)]="vehical.contact.name"
        type="text"
        class="form-control"
      />
      <div class="alert alert-danger mt-1" *ngIf="name.touched && !name.valid">Please specify name</div>
    </div>
    <div class="form-group">
      <label for="contactPhone">Phone</label>
      <input id="contactPhone" name="contactPhone" [(ngModel)]="vehical.contact.phone" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="contactEmail">Email</label>
      <input
        required
        #email="ngModel"
        id="contactEmail"
        name="contactEmail"
        [(ngModel)]="vehical.contact.email"
        type="text"
        class="form-control"
      />
      <div class="alert alert-danger mt-1" *ngIf="email.touched && !email.valid">Please specify email</div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button [disabled]="!form.valid" class="btn btn-primary mr-4">Save</button>
        <button *ngIf="vehical.id && auth.isInRole('Admin')" type="button" (click)="delete()" class="btn btn-secondary">Delete</button>
      </div>
    </div>
  </form>
</div>
