<h1>New Vehical</h1>
{{ vehical | json }}
<form action="" (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
  <div class="form-group col-xs-6">
    <label for="makes">Make</label>
    <select class="form-control" required name="make" #make="ngModel" id="makes" (change)="onMakeChange()" [(ngModel)]="selectedMake">
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify make</div>
  </div>

  <div class="form-group">
    <label for="models">Model</label>
    <select required #model="ngModel" class="form-control" name="models" id="models" [(ngModel)]="vehical.ModelId">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify model</div>
  </div>
  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name="isRegistered" id="registered" value="true" [(ngModel)]="vehical.IsRegistered" /> Yes
  </label>
  <label for="notRegistered" class="radio-inline">
    <input type="radio" name="isRegistered" id="notRegistered" value="false" [(ngModel)]="vehical.IsRegistered" /> No
  </label>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature{{ f.id }}">
      <input type="checkbox" (change)="onToggleFeature(f.id, $event)" id="feature{{ f.id }}" /> {{ f.name }}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input
      required
      #name="ngModel"
      id="contactName"
      name="contactName"
      [(ngModel)]="vehical.Contact.Name"
      type="text"
      class="form-control"
    />
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify name</div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input id="contactPhone" name="contactPhone" [(ngModel)]="vehical.Contact.Phone" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input
      required
      #email="ngModel"
      id="contactEmail"
      name="contactEmail"
      [(ngModel)]="vehical.Contact.Email"
      type="text"
      class="form-control"
    />
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Please specify email</div>
  </div>
  <button [disabled]="!form.valid" class="btn btn-primary">Save</button>
</form>
