<h2>Vehicles</h2>
<p>
  <a [routerLink]="['/vehicals/new']" class="btn btn-primary">New Vehicle</a>
</p>
{{ filter | json }}
<div class="form-group well">
  <label for="makes">Make</label>
  <select class="form-control" name="make" #make="ngModel" id="makes" (change)="onFilterChange()" [(ngModel)]="filter.makeId">
    <option></option>
    <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
  </select>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicals">
      <td>{{ v.id }}</td>
      <td>{{ v.make.name }}</td>
      <td>{{ v.model.name }}</td>
      <td>{{ v.contact.name }}</td>
      <td>
        <a [routerLink]="['/vehicals/', v.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
